logging:
  level:
    org.springframework: INFO
    org.hibernate:
        SQL: INFO


spring:
  profiles:
    active: "@spring.profiles.active@"
  threads:
    virtual:
      enabled: true
  jackson:
    default-property-inclusion: NON_NULL
  jpa:
    open-in-view: false
  datasource:
    hikari:
      auto-commit: false

# swagger-ui custom path
springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080