logging:
  level:
    org.springframework: INFO
    org.flywaydb: DEBUG

spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 50
          fetch_size: 100
          batch_versioned_data: true
        format_sql: true
        order_updates: true
        default_batch_fetch_size: 32
        generate_statistics: true
        cache:
          use_second_level_cache: false
          use_query_cache: false
    generate-ddl: false
  datasource:
    url: jdbc:mysql://localhost:3306/jsonplaceholder
    username: root
    driverClassName: com.mysql.cj.jdbc.Driver
    password: root
    hikari:
      pool-name: HikariPool
      maximum-pool-size: 20
      minimum-idle: 10
      idle-timeout: 300000
      max-lifetime: 1800000
      connection-timeout: 30000
      validation-timeout: 5000
      leak-detection-threshold: 2000
  flyway:
    user: root
    password: root
    url: jdbc:mysql://localhost:3306/jsonplaceholder
    enabled: true
    locations: classpath:db.migration