spring:
  mvc:
    apiversion:
      use:
        header: X-API-Version

  application:
    name: "MonolithArchitecture"
  profiles:
    active: "@spring.profiles.active@"
  threads:
    virtual:
      enabled: true
  jackson:
    default-property-inclusion: NON_NULL
  jpa:
    open-in-view: false
  datasource:
    hikari:
      auto-commit: false
  main:
    lazy-initialization: true

# swagger-ui custom path
springdoc:
  swagger-ui:
    path: /swagger-ui.html

application:
  security:
    jwt:
      secret-key: ${WELLDEV.SECRET.KEY:404E635266556A586E3272357538782F413F4428472B4B6250645367566B59703373367639792442264529482B4D6251655468576D5A7134743777217A25432A462948404D635166546A576E5A7234753778214125442A472D4B614E645267556B58703273357638792F423F4528482B4D6251655368566D597133743677397A24432646294A404E}
      expiration: 86400000
      refresh-token:
        expiration: 604800000

server:
  port: 8080
  tomcat:
    threads:
      # Min num of threads always kept alive
      min-spare: 20
      # Max threads available to serve requests
      max: 200
    connection-timeout: 20000
    keep-alive-timeout: 15000 # Time Tomcat awaits for the next request before closing connection
    max-keep-alive-requests: 100 # Max requests served over a single connection
    accept-count: 100
  compression:
    enabled: true
    mime-types: application/json, application/xml, text/xml, text/plain
    min-response-size: 1024
